.add-review form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    background-color: rgb(233, 255, 255);
    width: min(80vw, 600px);
    padding: 15px;
    border: 1px solid black;
    margin: auto;  
}

.add-review h2{
    grid-column: 1 / -1;
    justify-self: center;

    margin: 0 0 15px;

    font-size: 1.75em;
    font-weight: bold;
    text-decoration: underline;
}

.add-review input{
    grid-column: 2;
    border: 1px solid black;
    border-radius: 10px;
    padding-inline: 10px;
}

.add-review label{
    grid-column: 1;
}

.add-review button{
    grid-column: 1 / -1;
    justify-self: center;

    margin: 15px 0 0;
}