.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1.25em;
}

.app-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  text-decoration: underline;
}

.app-header h1{
  font-size: 1.75em;
  margin: 0;
}

@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }
}
