.book-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    background-color: rgb(233, 255, 255);
    width: min(80vw, 600px);
    padding: 15px;
    border: 1px solid black;
    margin: auto;
}

.book-details .cheap{
    color: green;
}

.book-details .expensive{
    color: red;
}

.book-details p{
    font-family: Arial, Helvetica, sans-serif;
}

.book-details button{
    grid-column: 1 / -1;
    width: 25%;

    justify-self: center;
}

.prev-next-btns{
    text-align: center;
}

.prev-next-btns button{
    width: 100px;
}