.book-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    
    list-style: none;
    padding: 0;
}

.book-list li{
    position: relative;

    background-color: rgb(233, 255, 255);
    border: 1px solid black;
    padding: 10px;
    
    text-align: center;
}

.remove-btn{
    position: absolute;
    top: -20px;
    right: -20px;

    border-radius: 20px;
}

.add-book-btn{
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: var(--clr1);

    color: white;
    font-weight: bold;
    font-size: 1em;
}