.user-msg {
    position: relative;

    background-color: lightgray;
    padding: .5em 1em;
    position: fixed;
    top: 3em;
    right: 1em;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.user-msg.success {
    background-color:rgb(101, 181, 97);
}

.user-msg.error {
    background-color:rgb(248, 115, 115);
}


.user-msg button{
    position: absolute;
    top: -1.5em;
    right: -1.5em;

    border-radius: 50%;
}